<html lang="en">
  <head>
    <title>Wordle in Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/app.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <h1>Wordle w/ no JS</h1>
      <p class="mt">It's all the wordle you know with none of the JS.</p>

      <div class="mt">
        {{template "restart" .}}
      </div>
    </header>

    {{if .DevMode}}
      <aside class="devMode mt">
        <h2>[DEV MODE] Your randomly selected word is:</h2>
        <p>{{.Game.Answer}}</p>
      </aside>
    {{end}}

    {{if .Game.HasWon}}
      <p class="mt center">You won!</p>
      {{template "result" .}}
    {{end}}

    {{if .Game.HasLost}}
      <p class="mt center">You lost! The word was <strong>{{.Game.Answer}}</strong></p>
    {{end}}

    <div class="mt">
      {{template "grid" .}}
    </div>
  </body>
</html>