{{define "keyboard"}}
  <div id="keyboard">
    <div class="row">
      <div data-status="{{.Game.KeyboardLetterStatus "q"}}">q</div>
      <div data-status="{{.Game.KeyboardLetterStatus "w"}}">w</div>
      <div data-status="{{.Game.KeyboardLetterStatus "e"}}">e</div>
      <div data-status="{{.Game.KeyboardLetterStatus "r"}}">r</div>
      <div data-status="{{.Game.KeyboardLetterStatus "t"}}">t</div>
      <div data-status="{{.Game.KeyboardLetterStatus "y"}}">y</div>
      <div data-status="{{.Game.KeyboardLetterStatus "u"}}">u</div>
      <div data-status="{{.Game.KeyboardLetterStatus "i"}}">i</div>
      <div data-status="{{.Game.KeyboardLetterStatus "o"}}">o</div>
      <div data-status="{{.Game.KeyboardLetterStatus "p"}}">p</div>
    </div>

    <div class="row">
      <div data-status="{{.Game.KeyboardLetterStatus "a"}}">a</div>
      <div data-status="{{.Game.KeyboardLetterStatus "s"}}">s</div>
      <div data-status="{{.Game.KeyboardLetterStatus "d"}}">d</div>
      <div data-status="{{.Game.KeyboardLetterStatus "f"}}">f</div>
      <div data-status="{{.Game.KeyboardLetterStatus "g"}}">g</div>
      <div data-status="{{.Game.KeyboardLetterStatus "h"}}">h</div>
      <div data-status="{{.Game.KeyboardLetterStatus "j"}}">j</div>
      <div data-status="{{.Game.KeyboardLetterStatus "k"}}">k</div>
      <div data-status="{{.Game.KeyboardLetterStatus "l"}}">l</div>
    </div>

    <div class="row">
      <div data-status="{{.Game.KeyboardLetterStatus "z"}}">z</div>
      <div data-status="{{.Game.KeyboardLetterStatus "x"}}">x</div>
      <div data-status="{{.Game.KeyboardLetterStatus "c"}}">c</div>
      <div data-status="{{.Game.KeyboardLetterStatus "v"}}">v</div>
      <div data-status="{{.Game.KeyboardLetterStatus "b"}}">b</div>
      <div data-status="{{.Game.KeyboardLetterStatus "n"}}">n</div>
      <div data-status="{{.Game.KeyboardLetterStatus "m"}}">m</div>
    </div>
  </div>
{{end}}